body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #eeeeee;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.upload-page {
	margin-left: 8px;
	margin-right: 8px;
}

.banner {
	text-align: center; 
	font-weight: 800; 
	font-size: 2em; 
	margin-bottom: 20px; 
	margin-top: 20px;
}

.center-text {
	text-align: center;
}

.controller-layout {
	/* the following example layout fits an iPhone 6 and larger and could be used to refine layout control */
/*
	position: fixed; 
	top: 50%; 
	left: 50%;
	width: 667px; 
	height: 375px; 
	margin-left: -333px; 
	margin-top: -187px;
*/
	margin: 0;
	padding: 0;
}

#messagearea {
	text-align: center; 
	font-family: courier; 
	font-size: 16px; 
	color: #0a0;
}
#errorarea {
	text-align: center; 
	font-family: courier; 
	font-size: 16px; 
	color: #f00;
}
